body {
    background: lightblue;
}

.rules {
    font-family: monospace;
    white-space: pre-wrap;
}

.top {
    border: 1px solid black;
    background: white;
    border-radius: 30px;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
}

.dice {
    display: flex;
    flex-wrap: wrap;
}

.timer {
    font-size: 40pt;
    font-family: sans;
}
.time.time-out {
    color: red;
}
.time.time-unstarted {
    color: green;
}

.die {
    margin: 0.5rem;
    padding: 0.5rem;

    background-color: #e7e7e7;
    width: 4.5rem;
    height: 4.5rem;
    object-fit: contain;

    box-shadow:
        inset 0 5px white,
        inset 0 -5px #bbb,
        inset 5px 0 #d7d7d7,
        inset -5px 0 #d7d7d7;

    border-radius: 10%;

    font-size: 8vh;
    font-family: sans;

    display: flex;
    justify-content: center;
    align-items: center;
}
.die.vulnerable {
    color: orange;
}

.spelling {
    height: 7rem;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background: lightblue;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    background: white;
}
.button:hover {
    background: lightblue
}
.victory {
    width: 80rem;
    height: 7rem;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background: pink;
    border: 2px solid red;
    color: darkred;
    font-size: 24pt;
}
.button:hover {
    background: lightblue
}
.roll-dice {
    height: 7rem;
    margin: 1rem;
    font-size: 24pt;
}

.board {
    flex-grow: 1;
}

.score {
    width: fit-content;
    padding: 2em;
    flex-grow: 0;
    flex-shrink: 0;
}

.board {
    display: flex;
    flex-direction: column;
}
.dice {
    flex-grow: 1;
    flex-shrink: 0;
    min-height: 14rem;
}

.word-columns {
    display: flex;
    width: fit-content;
}
.word-column.forbidden {
    color: lightpink;
}
.word-column.done {
    color: lightgrey;
}
.word-column:nth-child(1).vulnerable { visibility: hidden; }
.word-column:nth-child(1) { min-width: 3ex; }
.word-column:nth-child(2) { min-width: 4ex; }
.word-column:nth-child(3) { min-width: 5ex; }
.word-column:nth-child(4) { min-width: 6ex; }
.word-column:nth-child(5) { min-width: 7ex; }
.word-column:nth-child(6) { min-width: 8ex; }
.word-column:nth-child(7) { min-width: 9ex; }
.word-column:nth-child(8) { min-width: 10ex; }
.word-column:nth-child(n+2) {
    border-left: 1px dotted lightgrey;
}
.word-column {
    margin: 2px;
    height: 8em;
    position: relative;
}
.word-column .word-score {
    position: absolute;
    bottom: 0;
}
.word-column .title {
    text-decoration: underline;
}

.vulnerable-label {
    color: lightred;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-score {
    font-size: 24pt;
    display: inline-block;
}
.game-score {
    display: inline-block;
}
.game-score.vulnerable {
    color: darkred;
}

.round {
    display: inline-block;
}

.revealed {
    opacity: 0;
    font-weight: bold;
    color: green;
}
.revealed:hover {
    opacity: 1;
}
